<div class="_li" id="u_0_1_NW">
  <div id="globalContainer" class="uiContextualLayerParent">
    <div class="fb_content clearfix " id="content" role="main">
      <div>
        <div class="_8esj _95k9 _8esf _8opv _8f3m _8ilg _8icx _8op_ _95ka">
          <div class="_8esk">
            <div class="_8esl">
              <div class="_8ice">
                <img class="fb_logo _8ilh img" src="https://static.xx.fbcdn.net/rsrc.php/y1/r/4lCu2zih0ca.svg" alt="Facebook">
              </div>
              <h2 class="_8eso">Facebook helps you connect and share with the people in your life.</h2>
            </div>
            <div class="_8esn">
              <div class="_8iep _8icy _9ahz _9ah-">
                <div class="_6luv _52jv shadow">
                  <%= form_for(@user, as: :user, url: session_path(:user)) do |f| %>
                    <div class="mt-2">
                      <div class="_6lux">
                        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"inputtext  _55r1 _6luy  ", id:"email", placeholder:"Email address or phone number" %>
                      </div>
                      <div class="_6lux">
                        <div class="_6luy _55r1 _1kbt" id="passContainer">
                          <%= f.password_field :password, autocomplete: "current-password", type:"password", class:"inputtext _55r1 _6luy _9npi", id:"pass", placeholder:"Password" %>
                        </div>
                      </div>
                    </div>
                    <input type="hidden" autocomplete="off" name="login_source" value="comet_headerless_login">
                    <input type="hidden" autocomplete="off" name="next" value="">
                    <div class="_6ltg">
                      <%= f.submit "Log in", class:" btn btn-primary _42ft _4jy0 _6lth _4jy6 _4jy1 selected _51sy", id:"u_0_5_ht" %>
                      
                    </div>
                    <div class="_6ltj">
                      <%= link_to "Forgot your password?", new_user_password_path %>
                    </div>
                    <div class="_8icz"></div>
                    <div class="_6ltg">
                      <%= link_to "Create new account", new_user_registration_path, role:"button", class:" btn btn-light text-light _42ft _4jy0 _6lti _4jy6 _4jy2 selected _51sy", ajaxify:"/reg/spotlight/", id:"u_0_0_JV", data_testid:"open-registration-form-button", rel:"async" %>
                    </div>
                  <% end %>
                </div>
                <div id="reg_pages_msg" class="_58mk">
                  <a href="/pages/create/?ref_type=registration_form" class="_8esh"><strong>Create a Page</strong></a> for a celebrity, brand or business.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="">
      <div class="_95ke _8opy language">
        <div id="pageFooter" data-referrer="page_footer" data-testid="page_footer">
          <ul class="uiList localeSelectorList _2pid _509- _4ki _6-h _6-j _6-i" data-nocookies="1">
            <li>English (UK)</li>
            <li>
              <a class="_sv4" dir="ltr" href="https://hi-in.facebook.com/" onclick="require(&quot;IntlUtils&quot;).setCookieLocale(&quot;hi_IN&quot;, &quot;en_GB&quot;, &quot;https:\/\/hi-in.facebook.com\/&quot;, &quot;www_list_selector&quot;, 0); return false;" title="Hindi">हिन्दी</a>
            </li>
            <li>
              <a class="_sv4" dir="ltr" href="https://mr-in.facebook.com/" onclick="require(&quot;IntlUtils&quot;).setCookieLocale(&quot;mr_IN&quot;, &quot;en_GB&quot;, &quot;https:\/\/mr-in.facebook.com\/&quot;, &quot;www_list_selector&quot;, 1); return false;" title="Marathi">मराठी</a>
            </li>
            <li>
              <a class="_sv4" dir="rtl" href="https://ur-pk.facebook.com/" onclick="require(&quot;IntlUtils&quot;).setCookieLocale(&quot;ur_PK&quot;, &quot;en_GB&quot;, &quot;https:\/\/ur-pk.facebook.com\/&quot;, &quot;www_list_selector&quot;, 2); return false;" title="Urdu">اردو</a>
            </li>
            <li>
              <a class="_sv4" dir="ltr" href="https://pa-in.facebook.com/" onclick="require(&quot;IntlUtils&quot;).setCookieLocale(&quot;pa_IN&quot;, &quot;en_GB&quot;, &quot;https:\/\/pa-in.facebook.com\/&quot;, &quot;www_list_selector&quot;, 3); return false;" title="Punjabi">ਪੰਜਾਬੀ</a>
            </li>
            <li>
              <a class="_sv4" dir="ltr" href="https://bn-in.facebook.com/" onclick="require(&quot;IntlUtils&quot;).setCookieLocale(&quot;bn_IN&quot;, &quot;en_GB&quot;, &quot;https:\/\/bn-in.facebook.com\/&quot;, &quot;www_list_selector&quot;, 4); return false;" title="Bengali">বাংলা</a>
            </li>
            <li>
              <a class="_sv4" dir="ltr" href="https://gu-in.facebook.com/" onclick="require(&quot;IntlUtils&quot;).setCookieLocale(&quot;gu_IN&quot;, &quot;en_GB&quot;, &quot;https:\/\/gu-in.facebook.com\/&quot;, &quot;www_list_selector&quot;, 5); return false;" title="Gujarati">ગુજરાતી</a>
            </li>
            <li>
              <a class="_sv4" dir="ltr" href="https://ta-in.facebook.com/" onclick="require(&quot;IntlUtils&quot;).setCookieLocale(&quot;ta_IN&quot;, &quot;en_GB&quot;, &quot;https:\/\/ta-in.facebook.com\/&quot;, &quot;www_list_selector&quot;, 6); return false;" title="Tamil">தமிழ்</a>
            </li>
            <li>
              <a class="_sv4" dir="ltr" href="https://te-in.facebook.com/" onclick="require(&quot;IntlUtils&quot;).setCookieLocale(&quot;te_IN&quot;, &quot;en_GB&quot;, &quot;https:\/\/te-in.facebook.com\/&quot;, &quot;www_list_selector&quot;, 7); return false;" title="Telugu">తెలుగు</a>
            </li>
            <li>
              <a class="_sv4" dir="ltr" href="https://ml-in.facebook.com/" onclick="require(&quot;IntlUtils&quot;).setCookieLocale(&quot;ml_IN&quot;, &quot;en_GB&quot;, &quot;https:\/\/ml-in.facebook.com\/&quot;, &quot;www_list_selector&quot;, 8); return false;" title="Malayalam">മലയാളം</a>
            </li>
            <li>
              <a class="_sv4" dir="ltr" href="https://kn-in.facebook.com/" onclick="require(&quot;IntlUtils&quot;).setCookieLocale(&quot;kn_IN&quot;, &quot;en_GB&quot;, &quot;https:\/\/kn-in.facebook.com\/&quot;, &quot;www_list_selector&quot;, 9); return false;" title="Kannada">ಕನ್ನಡ</a>
            </li>
            <li>
              <a role="button" class="_42ft _4jy0 _517i _517h _51sy" rel="dialog" ajaxify="/settings/language/language/?uri=https%3A%2F%2Fkn-in.facebook.com%2F&amp;source=www_list_selector_more" href="#" title="Show more languages">
                <i class="img sp_8oGPGkzB8ig sx_fc06b0"></i>
              </a>
            </li>
          </ul>
          <div id="contentCurve"></div>
          <div id="pageFooterChildren" role="contentinfo" aria-label="Facebook site links">
            <ul class="uiList pageFooterLinkList _509- _4ki _703 _6-i">
              <li>
                <a href="/reg/" title="Sign up for Facebook">Sign Up</a>
              </li>
              <li>
                <a href="/login/" title="Log in to Facebook">Log in</a>
              </li>
              <li>
                <a href="https://messenger.com/" title="Take a look at Messenger.">Messenger</a>
              </li>
              <li>
                <a href="/lite/" title="Facebook Lite for Android.">Facebook Lite</a>
              </li>
              <li>
                <a href="https://www.facebook.com/watch/" title="Browse in Video">Video</a>
              </li>
              <li>
                <a href="/places/" title="Take a look at popular places on Facebook.">Places</a>
              </li>
              <li>
                <a href="/games/" title="Check out Facebook games.">Games</a>
              </li>
              <li>
                <a href="/marketplace/" title="Buy and sell on Facebook Marketplace.">Marketplace</a>
              </li>
              <li>
                <a href="https://pay.facebook.com/" title="Learn more about Meta Pay" target="_blank">Meta Pay</a>
              </li>
              <li>
                <a href="https://www.meta.com/" title="Discover Meta" target="_blank">Meta Store</a>
              </li>
              <li>
                <a href="https://www.meta.com/quest/" title="Learn more about Meta Quest" target="_blank">Meta Quest</a>
              </li>
              <li>
                <a href="https://l.facebook.com/l.php?u=https%3A%2F%2Fimagine.meta.com%2F&amp;h=AT3__dqLYfaKCwOPNuc6ZbCm-jfy6MfsXQ7Qae7Yc-5ANK-QS_CkKaH98wOfp4-ODLzuRSB58HkSAlog6tHuowXz4ZnhJl9MlmIMdoSXbCbvTR06_DvNJ-JYtJyubhjl--Xu37BG5OblfMmQhKgqMyWA9IY" title="Imagine with Meta AI" target="_blank" rel="noreferrer nofollow" data-lynx-mode="async">Imagine with Meta AI</a>
              </li>
              <li>
                <a href="https://l.facebook.com/l.php?u=https%3A%2F%2Fwww.instagram.com%2F&amp;h=AT11RDoTchlk_Tspft-oK_sPT0XasMCcF-eDoTAds53rkl9L-drjMf0ta0lec8Ydf3aL8K0ZGj07lXAmHX83BR7dNgU5fDvlnvVPgMJ9MMNzzvgx5FRIl6gLTO_0ceZUk_sJJhKJvaWgGQ" title="Take a look at Instagram" target="_blank" rel="noreferrer nofollow" data-lynx-mode="asynclazy">Instagram</a>
              </li>
              <li>
                <a href="https://www.threads.net/" title="Check out Threads">Threads</a>
              </li>
              <li>
                <a href="/fundraisers/" title="Donate to worthy causes.">Fundraisers</a>
              </li>
              <li>
                <a href="/biz/directory/" title="Browse our Facebook Services directory.">Services</a>
              </li>
              <li>
                <a href="/votinginformationcenter/?entry_point=c2l0ZQ%3D%3D" title="See the Voting Information Centre">Voting Information Centre</a>
              </li>
              <li>
                <a href="/privacy/policy/?entry_point=facebook_page_footer" title="Learn how we collect, use and share information to support Facebook.">Privacy Policy</a>
              </li>
              <li>
                <a href="/privacy/center/?entry_point=facebook_page_footer" title="Learn how to manage and control your privacy on Facebook.">Privacy Centre</a>
              </li>
              <li>
                <a href="/groups/discover/" title="Explore our groups.">Groups</a>
              </li>
              <li>
                <a href="https://about.meta.com/" accesskey="8" title="Read our blog, discover the resource centre and find job opportunities.">About</a>
              </li>
              <li>
                <a href="/ad_campaign/landing.php?placement=pflo&amp;campaign_id=402047449186&amp;nav_source=unknown&amp;extra_1=auto" title="Advertise on Facebook">Create ad</a>
              </li>
              <li>
                <a href="/pages/create/?ref_type=site_footer" title="Create a Page">Create Page</a>
              </li>
              <li>
                <a href="https://developers.facebook.com/?ref=pf" title="Develop on our platform.">Developers</a>
              </li>
              <li>
                <a href="/careers/?ref=pf" title="Make your next career move to our brilliant company.">Careers</a>
              </li>
              <li>
                <a href="/policies/cookies/" title="Learn about cookies and Facebook." data-nocookies="1">Cookies</a>
              </li>
              <li>
                <a class="_41ug" data-nocookies="1" href="https://www.facebook.com/help/568137493302217" title="Learn about Ad Choices.">AdChoices <i class="img sp_8oGPGkzB8ig sx_218f74"></i>
                </a>
              </li>
              <li>
                <a data-nocookies="1" href="/policies?ref=pf" accesskey="9" title="Review our terms and policies.">Terms</a>
              </li>
              <li>
                <a href="/help/?ref=pf" accesskey="0" title="Visit our Help Centre.">Help</a>
              </li>
              <li>
                <a href="help/637205020878504" title="Visit our contact uploading and non-users notice.">Contact uploading and non-users</a>
              </li>
              <li>
                <a accesskey="6" class="accessible_elem" href="/settings" title="View and edit your Facebook settings.">Settings</a>
              </li>
              <li>
                <a accesskey="7" class="accessible_elem" href="/allactivity?privacy_source=activity_log_top_menu" title="View your activity log">Activity log</a>
              </li>
            </ul>
          </div>
          <div class="mvl copyright">
            <div>
              <span> Meta © 2024</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>